
.card .new-header-card{
    color: #ffffff;
    background-color: #9a6e0d;
    height: 100px;
    padding: 10px;
}
.card-body
{
    padding: 0px;
}
.btn-XemChiTiet{
    text-align: center;
    margin: 10px;
}

.card-body-new{
    padding: 10px;
    height: 150px;
}

.HoiDap{
    margin: 10px;
}

.img-item{
    background-color: #9a6e0d;
    height: 200px;
    border: 1px solid;
}


/* Styles for larger screens */
@media (min-width: 768px) {
    .responsive-textarea {
        width: 100%; /* Full width on larger screens */
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .responsive-textarea {
        width: 100%; /* Full width on smaller screens */
        height: 200px; /* Adjust height */
    }
}
